<div class="card">
    <div class="card-header text-primary">
        DANH MỤC
    </div>
    <div class="card-body">
        <a class="list-group-item">Điện thoại</a>
        <a class="list-group-item">Máy tính bảng</a>
        <a class="list-group-item">Laptop</a>
    </div>
</div>