
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login">
    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl " />
    <div>
        Mã người dùng:
        <input name="MaKh" />
    </div>
    <div>
        Mật khẩu:
        <input name="MatKhau" type="password" />
    </div>
    <button>Đăng nhập</button>
</form>