@model MyCodeDemo.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-action="Register" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="MaKh">Mã khách hàng</label>
        <input class="form-control" asp-for="MaKh">
    </div>
    <div class="form-group">
        <label asp-for="HoTen">Họ tên</label>
        <input class="form-control" asp-for="HoTen">
    </div>
    <div class="form-group">
        <label asp-for="Email">Email address</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" asp-for="Email">
    </div>
    <div class="form-group">
        <label asp-for="MatKhau">Mật khẩu</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" asp-for="MatKhau">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="GioiTinh">
        <label class="form-check-label" for="exampleCheck1">Nam</label>
    </div>
    <div class="form-group">
        <label asp-for="NgaySinh">Ngày sinh</label>
        <input class="form-control" asp-for="NgaySinh">
    </div>
    <div class="form-group">
        <label asp-for="DiaChi">Địa chỉ</label>
        <input class="form-control" asp-for="DiaChi">
    </div>
    <div class="form-group">
        <label asp-for="DienThoai">Điện thoại</label>
        <input class="form-control" asp-for="DienThoai">
    </div>
    <div class="form-group">
        <label for="Hinh">Hình đại diện</label>
        <input class="form-control" name="Hinh" type="file">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

