
@{
    ViewData["Title"] = "ChildLayout";
    Layout = "~/Views/Shared/_LayoutChild.cshtml";
}

<h1>Child Layout</h1>

@section breadcrum{
    <span class="text-capitalize">Home > Layout > Nested Layout</span>
}

<h3>Nhất Nghệ</h3>