@{
    ViewData["Title"] = "Home Page";
}

<h2>Demo Extension</h2>
@{ 
    var N = new Random().Next(1, 1000);
}
<div>Tổng các số lẻ từ 1 đến @N là @N.TinhTongSoLe() </div>
@{ 
    var noel = new DateTime(2021, 12, 25);
}
<div>Còn @DateTime.Now.KhoangCachNgay(noel) đến Noel</div>