
@{
    ViewData["Title"] = "ImportLoai";
}

<h1>Import Loai</h1>
<form enctype="multipart/form-data" asp-action="ImportLoai">
    File loại:
    <input type="file" name="myfile"/>
    <button class="btn btn-primary">IMPORT</button>
</form>
