
@{
    ViewData["Title"] = "Index";
}

<h1>Tìm kiếm</h1>
<form asp-action="Index">
    Cần tìm: <input name="Keyword" placeholder="Nhập từ khóa" />
    Giá từ: <input name="FromPrice" type="number" step="0.01" />
    đến: <input name="ToPrice" type="number" step="0.01" />
    <button class="btn btn-primary">Tìm</button>
</form>

