
@{
    ViewData["Title"] = "DemoAjaxJson";
}

<h1>Demo Ajax Search Json</h1>
<input id="txtSearch" placeholder="Tìm gì?" />
<div class="row">
    Giá từ: <input type="number" id="GiaTu" step="0.01" />
    đến: <input type="number" id="GiaDen" step="0.01" />
    <button class="btn btn-primary" id="btnTim">Tìm</button>
</div>
<table class="table">
    <tbody id="result"></tbody>
</table>

@section Scripts{ 
<script>
    $(function () {
        $("#btnTim").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Ajax/ProjectSearchJson",
                type: "POST",
                data: {
                    keyword: $("#txtSearch").val(),
                    from: $("#GiaTu").val(),
                    to: $("#GiaDen").val(),
                },
                success: function (response) {
                    $("#result").html('');
                    $(response).each(function (idx, item) {
                        let tr = $("<tr/>");
                        $("<td/>").html(item.tenHh).appendTo(tr);
                        $("<td/>").html(item.donGia).appendTo(tr);
                        $("#result").append(tr);
                    });
                }
            });
        });
    });
</script>
}