
@{
    ViewData["Title"] = "Index";
}

<h1>DEMO AJAX</h1>
<h2 id="myClock" class="text-danger"></h2>

@section Scripts{
    <script>
        function layGioServer() {
            $.ajax({
                url: "/Ajax/GetServerTime",
                type: "GET",
                data: {},
                success: function (response) {
                    $("#myClock").html(response);
                },
                error: function (option) {
                    console.log(option);
                }
            });
        }
        layGioServer();
        setInterval(layGioServer, 1000);//cứ sau 1s gọi hàm 1 lần
    </script>
}