@model IEnumerable<MyCodeDemo.ViewModels.HangHoaViewModel>
@using MyCodeDemo.Helpers

@foreach (var item in Model)
{
    <div class="col-4">
        <img src="~/Hinh/HangHoa/@item.Hinh" alt="@item.TenHh" height="180" />
        <h2>@item.TenHh</h2>
        <h4 class="text-danger">@item.DonGia.ToVnd()</h4>
        <button class="btn btn-primary">Mua ngay</button>
    </div>
}