@model IEnumerable<MyCodeDemo.ViewModels.HangHoaViewModel>
@using MyCodeDemo.Helpers
<table class="table">
    <thead>
        <tr>
            <th>Hình</th>
            <th>Tên</th>
            <th>Giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Hinh/HangHoa/@item.Hinh" alt="@item.TenHh" height="80" />
                </td>
                <td>@item.TenHh</td>
                <td>@item.DonGia.ToVnd()</td>
            </tr>
        }
    </tbody>
</table>