
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<input id="txtSearch" placeholder="Tìm gì?" />
<button class="btn btn-primary" id="btnTim">Tìm</button>
<div class="row">
    Giá từ: <input type="number" id="GiaTu" step="0.01" />
    đến: <input type="number" id="GiaDen" step="0.01" />
</div>
<div id="result"></div>

@section Scripts{ 
<script>
    $(function () {
        $("#btnTim").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Ajax/ProcessSearch",
                type: "POST",
                data: {
                    keyword: $("#txtSearch").val().trim(),
                    from: $("#GiaTu").val(),
                    to: $("#GiaDen").val()
                },
                success: function (response) {
                    $("#result").html(response);
                },
                error: function (err) {
                    alert('Lỗi: ' + err);
                }
            });
        });
    });
</script>
}